@font-face {
  font-family: "Amatic SC";
  src: local("Amatic SC"), url(~assets/fonts/AmaticSC-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Amatic SC";
  src: local("Amatic SC"), url(~assets/fonts/AmaticSC-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Merriweather";
  src: local("Merriweather"), url(~assets/fonts/Merriweather-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Merriweather";
  src: local("Merriweather"), url(~assets/fonts/Merriweather-LightItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 300;
}

body {
  font-family: "Amatic SC", cursive;
  background-color: #0d0d0d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}